* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', sans-serif;
}
body {
	background-color: white;
}

.navbar {
    background-color: #69c7c9;
    padding: 12px;
}
.navbar-nav .nav-link {
	font-size: 17px;
	text-transform: uppercase;
	color: whitesmoke;
	font-weight: 540;
}

.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover {
    color: #D2F7D6;
}

.navbar-toggler {
	padding: 1px 5px;
	font-size: 18px;
	line-height: 0.3;
	background: #fff;
}

.logo {
    width: 45px;
    margin-left: 5px;
}
#btn-logout {
	color: red;
    border: none;
    cursor: pointer;
    font-size: 17px;
	text-transform: uppercase;
  }




