* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Gill Sans', sans-serif;
}

body {
	background: white;

}

/* Navbar Start */
.navbar {
	background-color: #69c7c9;
}

.navbar-nav a {
	font-size: 17px;
	text-transform: uppercase;
	color: black;
	font-weight: 540;
}

.navbar-nav .nav-link {
	font-size: 17px;
	color: white;

}

.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover {
	color: #D2F7D6;
}

.navbar-toggler {
	padding: 1px 5px;
	font-size: 15px;
	line-height: 0.3;
	background: #fff;
}

.logo {
	width: 13%;
	margin-left: 5px;
}

.content {
	min-height: 100vh;
	width: 100%;
}

/* Navbar End */

/* Bottom Tab Start */
.bi,
.nav__name {
	color: black;
	font-size: .9rem;
}

.nav__list {
	display: flex;
	gap: 1rem;
	margin: 15px 40px 0 0;
}

.nav__icon {
	font-size: 1.5rem;
}

.bottom-navigation {
	display: none;
}

/* Bottom tab End */

/* Images Sizes Start */
.img-area {
	position: relative;
}

.img-area .fish {
	width: 100%;
	height: 40vh;
	border-radius: 5px;
}

.img-area .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 5px;
	z-index: 1;
	opacity: 0;
	transition: opacity 0.3s ease;
}

.img-area:hover .overlay {
	opacity: 1;
}

.img-area .overlay .btn {
	font-size: 13px;
}

.card {
	border-radius: 5px;
	background-color: hsl(0, 0%, 99.1%);
	border: none;
	margin-bottom: 25px;
}

/* Images Sizes End */

.btn-close {
	position: absolute;
	right: 0;
	padding: 1em;
}

.form-area h1 {
	font-size: 2.3em;
	font-weight: bold;
	color: black;
}

.form-area {
	padding: 3em;
	max-width: 100%;
	background-color: hsl(165, 5%, 67%);
}

.form-area .btn {
	width: 35%;
	margin-left: 35%;
	font-weight: 800;
	background-color: gray;
	border-radius: 15px;
}

.form-area p {
	text-align: center;
	padding-top: 2em;
}

.overflow {
	margin-top: 120px;
	height: 400px;
	overflow-y: scroll;
}
.nano {
	margin-right: 10%;
}
/* Button Start */

.btn-order {
	padding: 6px 10px;
	font-size: 14px;
	background-color: #1080ca;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.btn-order:hover {
	background-color: #309ee7;
}

.btn-reserve {
	padding: 6px 10px;
	font-size: 14px;
	background-color: #0ec6c9;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.btn-reserve:hover {
	background-color: #47d6d8;
}

.btn-info {
	display: flex;
	margin: auto;
}

#btn-logout {
	color: red;
	border: none;
	cursor: pointer;
	font-size: 17px;
	text-transform: uppercase;
}

.bi-eye-fill {
	cursor: pointer;
}
.chat {
    height: 75vh;
	overflow-y: scroll;
}
/* Button End */
