#displayProfilePic {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.Profile {
    background: rgb(241, 248, 248);
}
.imgProfile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.rowProfile {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-left: 130px;
}

.btn-update-profilePic {
    display: flex;
    margin: auto;
}



@media screen and (max-width: 900px) {
    .rowProfile {
        margin-left: -25px;
    }
    .rowPP {
        margin-left: -35px;
    }

    #displayDataProfile, .pprof {
        padding-bottom: 90px;
    }
}


