* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', sans-serif;
}
/* Sidebar & Navbar Start */
.sidebar {
    background-color: #69c7c9;
    min-width: 200px;
    max-width: 200px;
    transition: all 0.2s;
}
.navbar {
    background-color: #69c7c9;
}
.content {
    width: 100%;
}
.header-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}
.header-box>h1 {
    font-size: 17px;
    color: #FD7F2C;
}
.a {
    color: white;
    font-size: 17.5px;
    text-transform: uppercase;
}
.a:hover {
    color: #D2F7D6;
}

.logo {
    width: 50px;
    margin-left: 5px;
}
.bi {
    font-size: large;
}

.nav-item>.nav-link {
    color: white;
    font-size: 17px;
    
}
.nav-item>.nav-link:hover {
    color: #D2F7D6;
    font-size: 17px;
    
}
#btn-logout {
	color: red;
    border: none;
    cursor: pointer;
    font-size: 17px;
	text-transform: uppercase;
    background: rgba(0,0,0,0.1);
  }
/* Sidebar & Navbar End */